:root {
  --primaryColor: #f4f5f4;
  --secondaryColor: #080708;
  --backgroundColor: #696773;
  --successColor: #3fa34d;
  --failColor: #f50010;
}

div {
  outline: none;
}

div:focus {
  outline: none;
}

input[type='range'] {
  height: 32px;
  -webkit-appearance: none;
  margin: 10px 0;
  background-color: var(--primaryColor);
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #b6b6b6;
  border-radius: 25px;
  border: 1px solid #8a8a8a;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8a8a8a;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #dadada;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #b6b6b6;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #b6b6b6;
  border-radius: 25px;
  border: 1px solid #8a8a8a;
}
input[type='range']::-moz-range-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8a8a8a;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #dadada;
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #b6b6b6;
  border: 1px solid #8a8a8a;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type='range']::-ms-fill-upper {
  background: #b6b6b6;
  border: 1px solid #8a8a8a;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type='range']::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8a8a8a;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #dadada;
  cursor: pointer;
}
input[type='range']:focus::-ms-fill-lower {
  background: #b6b6b6;
}
input[type='range']:focus::-ms-fill-upper {
  background: #b6b6b6;
}

@import url('./vendor/normalize.css');
@import url('./fonts/fonts.css');
@import url('./blocks/page/page.css');
@import url('./blocks/page/_hidden/page_hidden.css');
@import url('./blocks/content/content.css');
@import url('./blocks/content/_hidden/content_hidden.css');
@import url('./blocks/main/main.css');
@import url('./blocks/particles/particles.css');
@import url('./blocks/particles/__container/particles__container.css');
@import url('./blocks/home/home.css');
@import url('./blocks/home/__background/home__background.css');
@import url('./blocks/home/__title/home__title.css');
@import url('./blocks/home/__title/_span/home__title_span.css');
@import url('./blocks/home/__nav-about/home__nav-about.css');
@import url('./blocks/header/header.css');
@import url('./blocks/header/__nav/header__nav.css');
@import url('./blocks/header/__nav-button/header__nav-button.css');
@import url('./blocks/about/about.css');
@import url('./blocks/about/__icons/about__icons.css');
@import url('./blocks/about/__icon-container/about__icon-container.css');
@import url('./blocks/about/__icon/about__icon.css');
@import url('./blocks/about/__icon-title/about__icon-title.css');
@import url('./blocks/about/__icon-brief/about__icon-brief.css');
@import url('./blocks/about/__text/about__text.css');
@import url('./blocks/about/__title/about__title.css');
@import url('./blocks/about/__brief/about__brief.css');
@import url('./blocks/about/__knowledge/about__knowledge.css');
@import url('./blocks/about/__knowledge-title/about__knowledge-title.css');
@import url('./blocks/about/__knowledge-items/about__knowledge-items.css');
@import url('./blocks/about//__knowledge-item/about__knowledge-item.css');
@import url('./blocks/about/__knowledge-arrow/about__knowledge-arrow.css');
@import url('./blocks/about/__knowledge-arrow/_up/about__knowledge-arrow_up.css');
@import url('./blocks/about/__knowledge-arrow/_down/about__knowledge-arrow_down.css');
@import url('./blocks/about/__knowledge-speed/about__knowledge-speed.css');
@import url('./blocks/about/__knowledge-speed-label/about__knowledge-speed-label.css');
@import url('./blocks/about/__knowledge-control/about__knowledge-control.css');
@import url('./blocks/about/__knowledge-buttons/about__knowledge-buttons.css');
@import url('./blocks/about/__knowledge-item/_top/about__knowledge-item_top.css');
@import url('./blocks/about/__knowledge-item/_above/about__knowledge-item_above.css');
@import url('./blocks/about/__knowledge-item/_up/about__knowledge-item_up.css');
@import url('./blocks/about/__knowledge-item/_current/about__knowledge-item_current.css');
@import url('./blocks/about/__knowledge-item/_down/about__knowledge-item_down.css');
@import url('./blocks/about/__knowledge-item/_below/about__knowledge-item_below.css');
@import url('./blocks/about/__knowledge-item/_bottom/about__knowledge-item_bottom.css');
@import url('./blocks/portfolio/portfolio.css');
@import url('./blocks/portfolio/__title/portfolio__title.css');
@import url('./blocks/portfolio/__arrows/portfolio__arrows.css');
@import url('./blocks/portfolio/__arrow/portfolio__arrow.css');
@import url('./blocks/portfolio/__arrow/_backwards/portfolio__arrow_backwards.css');
@import url('./blocks/portfolio/__arrow/_forwards/portfolio__arrow_forwards.css');
@import url('./blocks/portfolio/__showcase/portfolio__showcase.css');
@import url('./blocks/portfolio/__showcase-item/portfolio__showcase-item.css');
@import url('./blocks/portfolio/__showcase-item/_across/portfolio__showcase-item_across.css');
@import url('./blocks/portfolio/__showcase-item/_around/portfolio__showcase-item_around.css');
@import url('./blocks/portfolio/__showcase-item/_study/portfolio__showcase-item_study.css');
@import url('./blocks/portfolio/__showcase-item/_news-explorer/portfolio__showcase-item_news-explorer.css');
@import url('./blocks/portfolio/__github-repos/portfolio__github-repos.css');
@import url('./blocks/portfolio/__github-repos-title/portfolio__github-repos-title.css');
@import url('./blocks/portfolio/__github-repos-grid/portfolio__github-repos-grid.css');
@import url('./blocks/portfolio/__github-repos-item/portfolio__github-repos-item.css');
@import url('./blocks/portfolio/__github-repo-title/portfolio__github-repo-title.css');
@import url('./blocks/portfolio/__github-repo-link/portfolio__github-repo-link.css');
@import url('./blocks/contact/contact.css');
@import url('./blocks/contact/__form/contact__form.css');
@import url('./blocks/contact/__form/_hidden/contact__form_hidden.css');
@import url('./blocks/contact/__title/contact__title.css');
@import url('./blocks/contact/__input-container/contact__input-container.css');
@import url('./blocks/contact/__input/contact__input.css');
@import url('./blocks/contact/__input-error/contact__input-error.css');
@import url('./blocks/contact/__text-area/contact__text-area.css');
@import url('./blocks/contact/__submit-button/contact__submit-button.css');
@import url('./blocks/contact/__submit-button/_active/contact__submit-button_active.css');
@import url('./blocks/contact/__response/contact__response.css');
@import url('./blocks/footer/footer.css');
@import url('./blocks/footer/__columns/footer__columns.css');
@import url('./blocks/footer/__column/footer__column.css');
@import url('./blocks/footer/__column/_content/footer__column_content_copyright.css');
@import url('./blocks/footer/__author/footer__author.css');
@import url('./blocks/footer/__column-heading/footer__column-heading.css');
@import url('./blocks/footer/__list/footer__list.css');
@import url('./blocks/footer/__column-cell/footer__column-cell.css');
@import url('./blocks/footer/__column-link/footer__column-link.css');
@import url('./blocks/footer/__social-icons/footer__social-icons.css');
@import url('./blocks/link-transition/link-transition.css');
@import url('./blocks/spinner/spinner.css');
@import url('./blocks/spinner/_hidden/spinner_hidden.css');
@import url('./blocks/page-spinner/page-spinner.css');
@import url('./blocks/page-spinner/_hidden/spinner_hidden.css');
