.portfolio__github-repos-grid {
  margin: 0 10px;
  flex: 1;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(550px, 1fr));
}

@media screen and (max-width: 768px) {
  .portfolio__github-repos-grid {
    grid-template-columns: repeat( auto-fit, minmax(450px, 1fr));
  }
}

@media screen and (max-width: 518px) {
  .portfolio__github-repos-grid {
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
  }
}
