.header {
  border: 2px solid var(--secondaryColor);
  display: flex;
}

.header__theme-button {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  border-radius: 50%;
}

.header__theme-button:hover {
  opacity: 0.6;
}

.header__theme-icon {
  padding: 5px;
}
