.portfolio__github-repos-item {
  display: flex;
  align-items: center;
  box-shadow: 0 0 3px 3px var(--secondaryColor);
  margin: 15px;
  transition: transform 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    box-shadow 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.portfolio__github-repos-item:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 0 3px 5px var(--secondaryColor);
}

.portfolio__github-repos-item:hover .portfolio__github-repo-link {
  opacity: 0.7;
  font-size: 23px;
}
