.portfolio__showcase-item {
  touch-action: none;
  background-position: center;
  background-size: cover;
  height: 650px;
  width: 650px;
  transform: rotateY(30deg) translate3d(0, 0, -200px);
  position: absolute;
  transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.portfolio__showcase-item:hover {
  cursor: pointer;
  z-index: 1;
}

@media screen and (max-width: 1300px) {
  .portfolio__showcase-item {
    height: 550px;
    width: 550px;
  }
}

@media screen and (max-width: 1080px) {
  .portfolio__showcase-item {
    height: 500px;
    width: 500px;
  }
}

@media screen and (max-width: 890px) {
  .portfolio__showcase-item {
    height: 400px;
    width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio__showcase-item {
    height: 300px;
    width: 300px;
  }
}

@media screen and (max-width: 560px) {
  .portfolio__showcase-item {
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-width: 370px) {
  .portfolio__showcase-item {
    height: 180px;
    width: 180px;
  }
}

@media screen and (min-width: 768px) and (max-width: 890px) and (orientation: landscape) {
  .portfolio__showcase-item {
    height: 400px;
    width: 400px;
  }
}
