.about__brief {
  color: var(--secondaryColor);
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 80px;
  font-size: 28px;
  line-height: 1.5;
}

.about__brief_jika {
  color: var(--jikaColor);
  text-decoration: none;
  font-weight: 700;
}

@media screen and (max-width: 990px) {
  .about__brief {
    text-align: center;
    padding: 0 15px 80px;
  }
}

@media screen and (max-width: 625px) {
  .about__brief {
    font-size: 22px;
  }
}
