.about {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom)
    env(safe-area-inset-left);
}

@media screen and (orientation: landscape) {
  .about {
    min-height: 1275px;
  }
}

.about__brief {
  color: var(--secondaryColor);
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 80px;
  font-size: 28px;
  line-height: 1.5;
}

.about__brief > p {
  margin: 0;
  line-height: 2;
  transform: translate3d(0, 0, 0);
  opacity: 0;
}

.about__brief_jika {
  color: var(--jikaColor);
  text-decoration: none;
  font-weight: 700;
}

@media screen and (max-width: 990px) {
  .about__brief {
    text-align: center;
    padding: 0 15px 80px;
  }
}

@media screen and (max-width: 625px) {
  .about__brief {
    font-size: 22px;
  }
}

.about__brief > p.animate {
  animation: textAnimation 0.9s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes textAnimation {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.about__icon {
  background-color: var(--backgroundColor);
  width: 100px;
  height: 100px;
}

.about__icon-brief {
  margin: 0;
  color: var(--secondaryColor);
  font-size: 22px;
  text-align: center;
  width: 250px;
}

.about__icon-container {
  opacity: 0;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.about__icon-container.animate:nth-of-type(1) {
  transform: translate3d(-150px, -150px, 0);
}

.about__icon-container.animate:nth-of-type(2) {
  transform: translate3d(150px, -150px, 0);
}

.about__icon-container.animate:nth-of-type(3) {
  transform: translate3d(-150px, 150px, 0);
}

.about__icon-container.animate:nth-of-type(4) {
  transform: translate3d(150px, 150px, 0);
}

.about__icon-container.animate {
  animation: aboutIconAnimation 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes aboutIconAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.about__icon-title {
  color: var(--secondaryColor);
  font-size: 42px;
  font-weight: 700;
  margin: 0;
  padding: 10px 0;
}

.about__icons {
  width: 100%;
  padding: 20px calc((100% - 1280px) / 2) 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 990px) {
  .about__icons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 30px 0;
  }
}

.about__knowledge {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .about__knowledge {
    flex-direction: column;
  }
}

.about__knowledge-arrow {
  border: solid var(--secondaryColor);
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 10px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.about__knowledge-arrow:hover {
  cursor: pointer;
}

.about__knowledge-arrow_down {
  transform: rotate(45deg);
}

.about__knowledge-arrow_down:hover {
  transform: rotate(45deg) scale(1.2);
}

.about__knowledge-arrow_up {
  transform: rotateZ(-135deg);
}

.about__knowledge-arrow_up:hover {
  transform: rotateZ(-135deg) scale(1.2);
}

.about__knowledge-buttons {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.about__knowledge-control {
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .about__knowledge-control {
    justify-content: center;
    padding-bottom: 50px;
  }
}

.about__knowledge-item {
  position: absolute;
  left: 10px;
  width: 120px;
  margin: 20px 0;
  padding: 2px 0;
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
  box-shadow: 0 0 2px 1px var(--secondaryColor);
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  transition: top 0.4s cubic-bezier(0.75, 0.62, 0.25, 0.62),
    left 0.4s cubic-bezier(0.75, 0.62, 0.25, 0.62),
    transform 0.4s cubic-bezier(0.75, 0.785, 0.32, 1.075),
    opacity 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.about__knowledge-item_above {
  transform: rotateX(10deg);
  opacity: 0;
  top: -30px;
}

.about__knowledge-item_below {
  transform: rotateX(-10deg);
  opacity: 0;
  top: 100px;
}

.about__knowledge-item_bottom {
  transform: rotateX(-90deg);
  opacity: 0;
  top: 200px;
}

.about__knowledge-item_current {
  z-index: 0;
  opacity: 1;
  padding: 5px 0;
  transform: scale(1);
  top: 25%;
  left: 50%;
}

.about__knowledge-item_down {
  top: 90px;
}

.about__knowledge-item_top {
  opacity: 0;
  transform: rotateX(90deg);
  top: -100px;
}

.about__knowledge-item_up {
  top: -10px;
}

.about__knowledge-items {
  position: relative;
  overflow: hidden;
  perspective: 5px;
  transform-style: preserve-3d;
  padding: 0;
  height: 150px;
  width: min(300px, 80%);
}

.about__knowledge-speed {
  position: relative;
  color: var(--secondaryColor);
  background-color: var(--secondaryColor);
}

.about__knowledge-speed-label {
  position: relative;
  color: var(--secondaryColor);
  font-size: 22px;
  font-weight: 600;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.about__knowledge-title {
  text-align: center;
  color: var(--secondaryColor);
  width: 100%;
  margin: 0;
  padding: 0 0 20px;
  font-size: 28px;
  font-weight: 600;
}

.about__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (max-width: 991px) {
  .about__text {
    padding-top: 80px;
    width: 600px;
    max-width: 100%;
  }
}

.about__title-wrapper {
  position: sticky;
  top: 50px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  min-height: 800px;
}

.about__title {
  position: sticky;
  top: 50px;
  text-align: center;
  left: 0;
  color: var(--secondaryColor);
  font-size: min(20vw, 350px);
  white-space: nowrap;
  margin: 0;
  padding: 0 0 30px;
}

@media screen and (max-width: 625px) {
  .about__title-wrapper {
    min-height: 400px;
  }
}

.about__knowledge-speed-indicator {
  pointer-events: none;
  --indicator-width: 50%;
  position: absolute;
  top: 10px;
  left: 0;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
  width: 220px;
  height: 26px;
  border-radius: 5px;
  overflow: hidden;
}

.about__knowledge-speed-indicator::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: var(--indicator-width);
  height: 100%;
  background-color: var(--secondaryColor);
}

input[type='range'] {
  cursor: pointer;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
  overflow: hidden;
  position: relative;
  width: 220px;
  height: 26px;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  margin: 10px 0;
  background-color: var(--secondaryColor);
}
input[type='range']::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 1px;
  width: 216px;
  height: 22px;
  clip-path: polygon(100% 5%, 100% 100%, 15% 100%);
  -webkit-clip-path: polygon(100% 5%, 100% 100%, 15% 100%);
  background: var(--primaryColor);
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  position: absolute;
  top: 2px;
  left: 1px;
  width: 216px;
  height: 22px;
  clip-path: polygon(100% 5%, 100% 100%, 15% 100%);
  -webkit-clip-path: polygon(100% 5%, 100% 100%, 15% 100%);
  background: var(--primaryColor);
}
input[type='range']::-webkit-slider-thumb {
  height: 100%;
  width: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  width: 100%;
  height: 26px;
  cursor: pointer;
  background: transparent;
}
input[type='range']::-moz-range-track {
  position: absolute;
  top: 2px;
  left: 1px;
  width: 216px;
  height: 22px;
  clip-path: polygon(100% 5%, 100% 100%, 15% 100%);
  -webkit-clip-path: polygon(100% 5%, 100% 100%, 15% 100%);
  background: var(--primaryColor);
}
input[type='range']::-moz-range-thumb {
  height: 100%;
  width: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}
input[type='range']::-ms-track {
  position: absolute;
  top: 2px;
  left: 1px;
  width: 216px;
  height: 22px;
  clip-path: polygon(100% 5%, 100% 100%, 15% 100%);
  -webkit-clip-path: polygon(100% 5%, 100% 100%, 15% 100%);
  background: var(--primaryColor);
}
input[type='range']::-ms-fill-lower {
  border-radius: none;
  box-shadow: none;
}
input[type='range']::-ms-fill-upper {
  border-radius: none;
  box-shadow: none;
}
input[type='range']::-ms-thumb {
  height: 100%;
  width: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}
input[type='range']:focus::-ms-fill-lower {
  border-radius: none;
  box-shadow: none;
}
input[type='range']:focus::-ms-fill-upper {
  border-radius: none;
  box-shadow: none;
}
