.contact__submit-button {
  width: 100%;
  padding: 10px;
  margin: 20px calc((100% - 150px) / 2);
  background-color: transparent;
  border: 2px solid var(--backgroundColor);
  color: var(--secondaryColor);
  box-shadow: 0 0 3px 3px var(--secondaryColor);
  font-size: 28px;
  font-weight: 700;
  transition: transform 0.4s cubic-bezier(0.215, 0.610, 0.355, 1),
   opacity 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
  opacity: 0.6;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .contact__submit-button {
    width: 150px;
  }
}
