.portfolio__arrow {
  background-color: var(--secondaryColor);
}

@media screen and (max-device-width: 890px) and (orientation: portrait) {
  .portfolio__arrow {
    height: 100px;
    width: 100px;
    margin-bottom: 80px;
  }
}

@media screen and (min-device-width: 375px) and (max-device-width: 832px) and (orientation: landscape) {
  .portfolio__arrow {
    height: 100px;
    width: 100px;
    margin-bottom: 80px;
  }
}
