.portfolio__github-repos-title {
  margin-left: 15px;
  color: var(--secondaryColor);
  font-size: 54px;
}

@media screen and (max-width: 700px) {
  .portfolio__github-repos-title {
    font-size: 46px;
  }
}

@media screen and (max-width: 560px) {
  .portfolio__github-repos-title {
    font-size: 38px;
  }
}
