.about__knowledge-item {
  position: absolute;
  left: 10%;
  width: 80%;
  margin: 20px 0;
  padding: 2px 0;
  color: var(--primaryColor);
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  box-shadow: none;
  transition: top 0.4s cubic-bezier(0.75, 0.62, 0.25, 0.62),
    transform 0.4s cubic-bezier(0.75, 0.785, 0.32, 1.075),
    opacity 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    background 0.4s cubic-bezier(0.1, 0.2, 0.2, 0.1),
}
